.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.reg-modal {
}

.header-panel {
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  position: fixed;
  padding: 5px;
  right: 0;
  top: 0;
}
